body {
	margin: 0;
	height: 100%;
	display: block;
	overflow: hidden;
	font-family: sans-serif;
}

#headerText {
	font-size: 2em;
	margin-right: 5%;
	margin-left: -5%
}

#searchInput {
	font-size: 1.5em;
}

#searchButton {
	font-size: 1.6em;
}

.nav {
	background-color: grey;
}

.nav h1,div {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav li {
	display: inline;
}

.hashTaglabels {
	padding: 1px;
	background-color: blue;
	font-size: 1.5em;
	color: red;
}